$mainColor: #35a696;


html, body{
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
a, a:hover, a:focus, button:focus {
  text-decoration: none;
  outline: none !important;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-center{

}
.h-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tea-icon-btn{
  cursor: pointer;
  display: inline-block;
}

.mb{
  margin-bottom: 20px;
}

.c-fullscreen-loading{
  width: 150px;
  height: 100px;
  flex: 1;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 200px;
  
  .el-icon-loading{
    font-size: 28px;
    color: #fff;
    font-weight: bold;
  }
  .el-loading-text{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }
}

.tea-page{
  text-align: left;
  min-height: calc(100vh - 327px);
  position: relative;

  b.block {
    color: #35a696;
  }

  h4.tea-title{
    margin: 0;
    font-size: 25px;
    font-weight: normal;
  }
  h6.t-info{
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
  }
  span.tea-info{
    padding: 10px 0;
    text-align: right;
    border-bottom: 1px solid #DCDFE6;
    display: block;
  }
  
  .tea-refresh-btn{
    position: absolute;
    right: 0;
    top: 0;
  }

  .el-table__body{
    cursor: pointer;
  }

  .el-table__body tr.current-row>td {
    background-color: #35a696 !important;
    color: #fff !important;
  }

  .el-collapse-item__header{
    color: #003300;
    font-size: 15px;
    font-weight: bold;
  }

  .el-tabs__item.is-active{
    color: $mainColor !important;
    font-size: 17px;
    font-weight: bold;
  }
  .el-tabs__active-bar{
    background-color: $mainColor !important;
  }
  .el-tabs__item{
    font-size: 17px;
    color: #777777;
  }

  &>h4{
    font-size: 25px;
    color: #666;
    margin: 10px 0 10px;
  }

  .tea-action-icon{
    margin-right: 10px;
  }

  .tea-table-tip{
    font-size: 16px;
    text-align: right;
    display: block;
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.tea-modal{
  text-align: left;
  h6{
    font-size: 18px;
    margin: 24px 0 6px;
  }

  div.center{
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  .c-info{
    font-size: 16px; 
    margin: -10px 0 30px;
  }

  .el-dialog__body{
    padding: 20px 50px 30px 20px;
  }

  .el-dialog__header{
    border-bottom: 1px solid #dfdfdf;
  }

  .el-dialog__title{
    font-size: 19px;
    font-weight: bold;
  }
}

.tea-table{
  .iconfont{
    font-size: 12px;
  }
  .c-btn{
    word-break: break-all;
    white-space: normal;
  }
  .el-button--text{
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.tea-icon-button{
  padding: 0;
  .iconfont{
    font-size: 14px;
  }
}



/* overrid element ui css */
.el-button--primary.is-plain {
  background: #f9f9f9;
}
.el-button--primary{
  font-weight: bold;
}

.el-dialog__body{
  padding: 10px 20px;
}

.el-table--small td, .el-table--small th{
  padding: 0 !important;
  height: 40px !important;
}


@import './css/tea-notify.scss';
@import './css/tea-toast.scss';
@import './css/tea-card.scss';