$mainColor: #35a696;

html, body{
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
a, a:hover, a:focus, button:focus {
  text-decoration: none;
  outline: none !important;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-center{

}
.h-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mb{
  margin-bottom: 20px;
}

.c-fullscreen-loading{
  width: 150px;
  height: 100px;
  flex: 1;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 200px;
  
  .el-icon-loading{
    font-size: 28px;
    color: #fff;
    font-weight: bold;
  }
  .el-loading-text{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }
}

.tea-page{
  text-align: left;
  min-height: calc(100vh - 327px);
  position: relative;

  h4.tea-title{
    margin: 0;
    font-size: 25px;
    font-weight: normal;
  }
  
  .tea-refresh-btn{
    position: absolute;
    right: 0;
    top: 0;
  }

  .el-table__body{
    cursor: pointer;
  }

  .el-table__body tr.current-row>td {
    background-color: #35a696 !important;
    color: #fff !important;
  }

  .el-collapse-item__header{
    color: #003300;
    font-size: 15px;
    font-weight: bold;
  }

  .el-tabs__item.is-active{
    color: $mainColor !important;
    font-size: 17px;
    font-weight: bold;
  }
  .el-tabs__active-bar{
    background-color: $mainColor !important;
  }
  .el-tabs__item{
    font-size: 17px;
    color: #777777;
  }

  &>h4{
    font-size: 25px;
    color: #666;
    margin: 10px 0 10px;
  }

  .el-button--primary.is-plain {
    color: $mainColor;
    background: #f9f9f9;
    border-color: $mainColor;
  }
}

.tea-modal{
  text-align: left;
  h6{
    font-size: 19px;
    margin: 4px 0 10px;
  }

  div.center{
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
}




@import './css/tea-card.scss';